<a href="https://colab.research.google.com/github/emilianod98/Migratio-PFHenry/blob/main/Migratio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**DATASET OBLIGATORIO**, fuente: https://datos.bancomundial.org/indicator/SM.POP.NETM?end=2021&most_recent_year_desc=false&start=2021&view=map

In [1]:
import pandas as pd
import numpy as np

In [2]:
#habilito lectura en Drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
df = pd.read_csv(r'/content/drive/MyDrive/Migratio/API_SM.POP.NETM_DS2_es_csv_v2_5368209.csv', skiprows=4)
df1 = pd.read_csv(r'/content/drive/MyDrive/Migratio/Metadata_Country_API_SM.POP.NETM_DS2_es_csv_v2_5368209.csv')

In [8]:
df.head(1)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,Aruba,ABW,Migración neta,SM.POP.NETM,0.0,-569.0,-609.0,-646.0,-684.0,-726.0,...,134.0,88.0,177.0,170.0,218.0,367.0,412.0,0.0,501.0,NaN

In [9]:
df1.head()

,Country Name,Country Code,Region,Income_Group,Unnamed: 4
0,Aruba,ABW,NaN,Ingreso alto,NaN
1,NaN,AFE,NaN,Agregados,NaN
2,Afganistán,AFG,Asia meridional,Países de ingreso bajo,NaN
3,NaN,AFW,NaN,Agregados,NaN
4,Angola,AGO,África al sur del Sahara (excluido altos ingre...,Países de ingreso mediano bajo,NaN

In [10]:
df = df.merge(df1[['Country Code', 'Region',  'Income_Group']], on='Country Code', how='left')

In [11]:
df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66,Region,Income_Group
0,Aruba,ABW,Migración neta,SM.POP.NETM,0.0,-569.0,-609.0,-646.0,-684.0,-726.0,...,177.0,170.0,218.0,367.0,412.0,0.0,501.0,NaN,NaN,Ingreso alto
1,NaN,AFE,Migración neta,SM.POP.NETM,-90849.0,-1348.0,-24259.0,-16266.0,37452.0,11041.0,...,394925.0,-864708.0,-343075.0,-366105.0,-187410.0,-48955.0,-179444.0,NaN,NaN,Agregados
2,Afganistán,AFG,Migración neta,SM.POP.NETM,2606.0,6109.0,7016.0,6681.0,7079.0,10695.0,...,-281739.0,-90238.0,-47090.0,-47205.0,-8082.0,166821.0,-183672.0,NaN,Asia meridional,Países de ingreso bajo
3,NaN,AFW,Migración neta,SM.POP.NETM,-847.0,-41547.0,-36399.0,-37435.0,-45534.0,-15985.0,...,-360393.0,-167286.0,-200823.0,-255888.0,-328552.0,-99761.0,-264802.0,NaN,NaN,Agregados
4,Angola,AGO,Migración neta,SM.POP.NETM,-43749.0,-49186.0,-54566.0,-59777.0,-71948.0,-87288.0,...,74170.0,91623.0,77733.0,61632.0,58986.0,7557.0,29089.0,NaN,África al sur del Sahara (excluido altos ingre...,Países de ingreso mediano bajo

In [37]:
df.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021',
       'Region', 'Income_Group'],
      dtype='object')

In [12]:
    df = df.drop('Unnamed: 66', axis=1)

In [20]:
# Filtrar filas donde 'Income_Group' sea diferente de 'Agregados'
filtrado_df = df.query("Income_Group != 'Agregados'")

# Seleccionar las columnas de interés: 'Income_Group', '2000', '2010', '2020'
columnas_seleccionadas = ['Income_Group', '1980', '2000', '2010', '2020']
resultado = filtrado_df[columnas_seleccionadas]
totales = resultado.groupby('Income_Group').sum()
print(totales)

                                     1980       2000       2010       2020
Income_Group
Ingreso alto                    1870910.0  3057130.0  3518166.0   762601.0
Ingreso mediano alto            -474291.0  -953809.0  -176834.0   676452.0
No clasificado                      244.0    -2004.0   -52784.0  -525142.0
Países de ingreso bajo         -2314663.0 -1505845.0  -594425.0   277233.0
Países de ingreso mediano bajo   956223.0  -581377.0 -2696345.0 -1220404.0

In [23]:
# Filtrar filas donde 'Income_Group' sea diferente de 'Agregados'
filtrado_df = df.query("Region != 'NaN'")

# Seleccionar las columnas de interés: 'Income_Group', '2000', '2010', '2020'
columnas_seleccionadas = ['Region',  '2010', '2020']
resultado = filtrado_df[columnas_seleccionadas]
totales = resultado.groupby('Region').sum()
print(totales)

                                                         2010      2020
Region
América Latina y el Caribe (excluido altos ingr...  -528995.0  262615.0
Asia meridional                                    -1730760.0 -302152.0
Asia oriental y el Pacífico (excluido altos ing...  -488582.0 -116323.0
Europa y Asia central (excluido altos ingresos)      -39193.0  105919.0
Oriente Medio y Norte de África (excluido altos...   -43905.0  -67916.0
África al sur del Sahara (excluido altos ingresos)  -636169.0 -148862.0

In [25]:
valores_unicos = df['Income_Group'].unique()
print(valores_unicos)

['Ingreso alto' 'Agregados' 'Países de ingreso bajo'
 'Países de ingreso mediano bajo' 'Ingreso mediano alto' 'No clasificado']

In [28]:
ingreso_alto = df.loc[df['Income_Group'] == 'Ingreso alto', 'Country Name']
print(ingreso_alto)

0                          Aruba
6                        Andorra
8         Emiratos Árabes Unidos
12             Antigua y Barbuda
13                     Australia
                 ...
242            Trinidad y Tobago
250                      Uruguay
251               Estados Unidos
255    Islas Vírgenes Británicas
256      Islas Vírgenes (EE.UU.)
Name: Country Name, Length: 80, dtype: object

In [35]:
paises_ue = ['Alemania', 'Austria', 'Bélgica', 'Bulgaria', 'Chipre', 'Croacia', 'Dinamarca', 'República Eslovaca', 'Eslovenia', 'España', 'Estonia', 'Finlandia', 'Francia', 
             'Grecia', 'Hungría', 'Irlanda', 'Italia', 'Letonia', 'Lituania', 'Luxemburgo', 'Malta', 'Países Bajos', 'Polonia', 'Portugal', 'República Checa', 'Rumania','Suecia']

filtro = df['Country Name'].isin(paises_ue)
total_2020 = df.loc[filtro, '2019'].sum()

print(total_2020)

1192639.0

In [38]:
paises_ue = ['Alemania', 'Austria', 'Bélgica', 'Bulgaria', 'Chipre', 'Croacia', 'Dinamarca', 'República Eslovaca', 'Eslovenia', 'España', 'Estonia', 'Finlandia', 'Francia', 'Grecia', 'Hungría', 'Irlanda', 'Italia', 'Letonia', 'Lituania', 'Luxemburgo', 'Malta', 'Países Bajos', 'Polonia', 'Portugal', 'República Checa', 'Rumania','Suecia']

filtro = df['Country Name'].isin(paises_ue)
columnas_seleccionadas = ['Country Name', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']
resultado = df.loc[filtro, columnas_seleccionadas].groupby('Country Name').sum()

print(resultado)

                        2000      2001      2002      2003      2004  \
Country Name
Alemania             60905.0   48500.0   45985.0   54381.0   73107.0
Austria              17531.0   39173.0   37429.0   44003.0   54907.0
Bulgaria            -11295.0   -8623.0   -6134.0   -4527.0   -4156.0
Bélgica              32262.0   35439.0   38517.0   41479.0   43994.0
Chipre               11577.0   12052.0   13449.0   13326.0   13126.0
Croacia             -50791.0  -17581.0  -12562.0   -8641.0   -5673.0
Dinamarca            12536.0   11934.0   11518.0   11337.0   11366.0
Eslovenia            -1562.0   -1434.0    5397.0    8388.0    8061.0
España              175213.0  185594.0  741349.0  662840.0  661105.0
Estonia              -3230.0   -3422.0   -2984.0   -3780.0   -3768.0
Finlandia             2428.0    6395.0    5250.0    6039.0    6872.0
Francia             102857.0  122247.0  137513.0  148696.0  154947.0
Grecia               35798.0   24607.0   15717.0    7095.0   -1102.0
Hungría              15478.0    9927.0    2412.0   14182.0   16803.0
Irlanda              31230.0   39480.0   34478.0   32763.0   49526.0
Italia               49166.0   47084.0  222527.0  478254.0  417189.0
Letonia             -20514.0  -19909.0  -19291.0  -18671.0  -18142.0
Lituania            -31240.0  -33177.0  -33905.0  -34848.0  -35427.0
Luxemburgo            4407.0    3339.0    2684.0    5400.0    4482.0
Malta                 1799.0    1687.0    1507.0    1238.0     872.0
Países Bajos         21650.0   17665.0   14789.0   13122.0   12819.0
Polonia             315602.0  -21293.0  -21339.0  -22621.0  -17064.0
Portugal             63195.0   57075.0   45651.0   28311.0   17114.0
República Checa       4195.0   21486.0   26188.0   25694.0   25947.0
República Eslovaca   -1135.0    -791.0    -571.0    -325.0    -225.0
Rumania             -91807.0  -87561.0 -101632.0  -97597.0 -106593.0
Suecia               27734.0   29249.0   31068.0   33445.0   36044.0

                        2005      2006      2007      2008      2009  ...  \
Country Name                                                          ...
Alemania            102694.0  145046.0  180746.0  211709.0  240968.0  ...
Austria              50282.0   25420.0   23729.0   25499.0   17121.0  ...
Bulgaria             -3832.0   -3980.0   -4748.0   -5674.0   -6997.0  ...
Bélgica              46280.0   48426.0   50352.0   51937.0   53385.0  ...
Chipre               13237.0   12664.0   12912.0   12489.0   12173.0  ...
Croacia              -3834.0   -2720.0   -2207.0   -2613.0   -3675.0  ...
Dinamarca            11693.0   12217.0   13067.0   14111.0   15469.0  ...
Eslovenia             8289.0    8036.0    7993.0    7583.0    7660.0  ...
España              632974.0  658689.0  774489.0  430778.0  130589.0  ...
Estonia              -5242.0   -5403.0   -2862.0   -1973.0   -1939.0  ...
Finlandia             9406.0   10801.0   13940.0   15579.0   14757.0  ...
Francia             155943.0  151814.0  142170.0  128627.0  108940.0  ...
Grecia               -7559.0  -13700.0  -18697.0  -21969.0  -23831.0  ...
Hungría              16615.0   20926.0   14398.0   16664.0   19182.0  ...
Irlanda              64192.0   94996.0   77427.0   19349.0  -18556.0  ...
Italia              250910.0  210398.0  485871.0  413349.0  280126.0  ...
Letonia             -17620.0  -17116.0  -16590.0  -15933.0  -15152.0  ...
Lituania            -35453.0  -34885.0  -33813.0  -32451.0  -30706.0  ...
Luxemburgo            6190.0    5568.0    6185.0    7960.0    6745.0  ...
Malta                  456.0     183.0     350.0     918.0    1774.0  ...
Países Bajos         13610.0   15632.0   18739.0   23206.0   28780.0  ...
Polonia             -21324.0  -47251.0  -29316.0  -20946.0   14220.0  ...
Portugal             17155.0   18775.0   21954.0   10008.0   15657.0  ...
República Checa      24895.0   25831.0   27262.0   29811.0   31317.0  ...
República Eslovaca    -219.0     -26.0     363.0     761.0    1148.0  ...
Rumania            -129933.0 -125012.0 -127609.0 -138327.0 -129392.0  ...
Suecia               39103.0   42580.0   46383.0   50669.0   55405.0  ...

                        2012      2013      2014      2015      2016  \
Country Name
Alemania            317082.0  342555.0  369027.0  397921.0  432017.0
Austria              44891.0   56494.0   74263.0  115125.0   66282.0
Bulgaria            -13770.0  -15243.0  -15527.0  -15356.0  -14947.0
Bélgica              56227.0   56755.0   57103.0   57008.0   56781.0
Chipre                4789.0    4426.0    4467.0    4655.0    4878.0
Croacia             -10440.0  -11833.0  -12849.0  -13408.0  -13569.0
Dinamarca            19732.0   20779.0   21670.0   22368.0   22859.0
Eslovenia              219.0     210.0    -225.0    7934.0    7684.0
España             -144619.0 -254292.0  -94869.0    -871.0   89021.0
Estonia              -3646.0   -2650.0    -562.0    4308.0    1164.0
Finlandia            17620.0   18026.0   15950.0   12433.0   17210.0
Francia              49080.0   36552.0   26585.0   18807.0   14729.0
Grecia              -30036.0  -31535.0  -30228.0  -29315.0  -27234.0
Hungría              16048.0    5296.0   11571.0   14166.0    -982.0
Irlanda             -22002.0  -12015.0     714.0   13130.0   18978.0
Italia              249033.0  154366.0   50102.0   34031.0   49591.0
Letonia             -12981.0  -12505.0  -11830.0  -11163.0  -10340.0
Lituania            -24664.0  -22781.0  -20883.0  -18912.0  -17334.0
Luxemburgo           10251.0   10553.0   11181.0   11373.0   12535.0
Malta                 6167.0    7348.0    8474.0    9443.0   10239.0
Países Bajos         46924.0   51268.0   54876.0   57677.0   59528.0
Polonia             -12077.0  -27597.0  -24234.0  -25426.0   -1967.0
Portugal            -37448.0  -36657.0  -30033.0  -10124.0   -8128.0
República Checa      10308.0   -1553.0    5009.0    5297.0    -300.0
República Eslovaca    2629.0    1279.0    1058.0    2637.0    3682.0
Rumania             -21485.0  -13890.0  -20445.0  -49612.0  -64002.0
Suecia               69451.0   72873.0   75670.0   77987.0   79667.0

                        2017      2018      2019      2020      2021
Country Name
Alemania            430803.0  392587.0  360560.0  334055.0  312735.0
Austria              45573.0   35404.0   41105.0   20314.0   20314.0
Bulgaria            -13560.0  -12115.0  -11439.0   -9902.0   -8716.0
Bélgica              56248.0   55439.0   54395.0   53428.0   52356.0
Chipre                5014.0    4977.0    4948.0    2999.0    1995.0
Croacia             -13654.0  -13171.0  -12480.0  -11592.0  -10402.0
Dinamarca            23188.0   23337.0   23305.0   23076.0   22746.0
Eslovenia             7460.0    7559.0    7427.0    7681.0    4568.0
España              167475.0  339064.0  458942.0  208791.0  275022.0
Estonia               5329.0    7229.0    5410.0    2995.0    2995.0
Finlandia            13307.0   11646.0   15558.0   17482.0   14928.0
Francia              13175.0   14391.0   17403.0   18335.0   20614.0
Grecia              -25061.0  -23600.0  -21581.0  -17853.0  -14806.0
Hungría              18044.0   31976.0   33559.0    9042.0   19870.0
Irlanda              29200.0   33647.0   29113.0   15320.0   15320.0
Italia               70475.0   75863.0   21615.0   28021.0   28021.0
Letonia              -9498.0   -8632.0   -7903.0   -7381.0   -6815.0
Lituania            -15937.0  -14451.0  -13398.0  -12625.0  -11853.0
Luxemburgo            9563.0   10096.0   10365.0    6952.0    6949.0
Malta                10836.0   11180.0   11247.0   10854.0   10408.0
Países Bajos         60585.0   60758.0   60266.0   58816.0   57439.0
Polonia              -1983.0   -8736.0   -2974.0    -779.0   -2968.0
Portugal              5244.0   10177.0   43656.0   40535.0   27295.0
República Checa       2809.0    3193.0    4030.0    3621.0    3621.0
República Eslovaca    3542.0    3752.0    3378.0    1746.0    1746.0
Rumania             -58735.0  -57865.0  -25453.0  -12724.0  -12724.0
Suecia               80765.0   81492.0   81585.0   81066.0   80097.0

[27 rows x 22 columns]