In [1]:
import pandas as pd

dfhomicides1990_2018 = pd.read_csv('C:/Users/emida/OneDrive/Escritorio/Data Science/Migratio-PFHenry/dags/datasets/incremental_load/homicides100k_1990-2018.csv')
dfhomicides2019 = pd.read_csv('C:/Users/emida/OneDrive/Escritorio/Data Science/Migratio-PFHenry/dags/datasets/incremental_load/homicides100k_2019.csv')

In [2]:
dfhomicides1990_2018

,Country Name,Country Code,Year,Homicides,Poblacion,Tasa por cada 100K
0,Afghanistan,AFG,2007-01-01,3657.0,25903301,14.117892
1,Afghanistan,AFG,2008-01-01,3785.0,26427199,14.322365
2,Afghanistan,AFG,2009-01-01,3874.0,27385307,14.146272
3,Afghanistan,AFG,2011-01-01,4170.0,29249157,14.256821
4,Afghanistan,AFG,2012-01-01,4245.0,30466479,13.933346
...,...,...,...,...,...,...
5940,Zimbabwe,ZWE,2014-01-01,1257.0,13855753,9.072044
5941,Zimbabwe,ZWE,2015-01-01,1302.0,14154937,9.198204
5942,Zimbabwe,ZWE,2016-01-01,1342.0,14452704,9.285460
5943,Zimbabwe,ZWE,2017-01-01,1363.0,14751101,9.239988
5944,Zimbabwe,ZWE,2018-01-01,1396.0,15052184,9.274402

In [3]:
dfhomicides2019

,Country Name,Country Code,Year,Homicides,Poblacion,Tasa por cada 100K
0,Afghanistan,AFG,2019-01-01,5015.0,37769499,13.277910
1,Albania,ALB,2019-01-01,57.0,2854191,1.997063
2,Algeria,DZA,2019-01-01,459.0,42705368,1.074806
3,American Samoa,ASM,2019-01-01,3.0,47321,6.339680
4,Andorra,AND,2019-01-01,0.0,76343,0.000000
...,...,...,...,...,...,...
200,Vietnam,VNM,2019-01-01,1267.0,95776716,1.322868
201,World,OWID_WRL,2019-01-01,415180.0,0,inf
202,Yemen,YEM,2019-01-01,820.0,31546691,2.599322
203,Zambia,ZMB,2019-01-01,1616.0,18380477,8.791937
204,Zimbabwe,ZWE,2019-01-01,1434.0,15354608,9.339216

In [4]:
dfhomicides = pd.read_csv('C:/Users/emida/OneDrive/Escritorio/Data Science/Migratio-PFHenry/dags/datasets/homicides100k.csv')
dfhomicides

      Afghanistan       AFG  2019-01-01    5015.0  37769499  13.27790977582202
0     Afghanistan       AFG  2007-01-01    3657.0  25903301          14.117892
1     Afghanistan       AFG  2008-01-01    3785.0  26427199          14.322365
2     Afghanistan       AFG  2009-01-01    3874.0  27385307          14.146272
3     Afghanistan       AFG  2011-01-01    4170.0  29249157          14.256821
4     Afghanistan       AFG  2012-01-01    4245.0  30466479          13.933346
...           ...       ...         ...       ...       ...                ...
6145      Vietnam       VNM  2019-01-01    1267.0  95776716           1.322868
6146        World  OWID_WRL  2019-01-01  415180.0         0                inf
6147        Yemen       YEM  2019-01-01     820.0  31546691           2.599322
6148       Zambia       ZMB  2019-01-01    1616.0  18380477           8.791937
6149     Zimbabwe       ZWE  2019-01-01    1434.0  15354608           9.339216

[6150 rows x 6 columns]